<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
   <diagramSynthesis
         class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:org.xtext.example.entity.diagramx.DiagramDiagramSynthesis"
         id="org.xtext.example.entity.diagramx.DiagramDiagramSynthesis">
   </diagramSynthesis>
   </extension>
<extension
      point="org.eclipse.ui.commands">
   <category
         description="Diagram diagrams"
         id="org.xtext.example.entity.diagramx.DiagramDiagrams"
         name="DiagramDiagrams">
   </category>
   <command
         categoryId="org.xtext.example.entity.diagramx.DiagramDiagrams"
         defaultHandler="org.xtext.example.entity.diagramx.OpenDiagramHandler"
         description="Primitive helper command that opens KLighD-based Diagram diagrams."
         id="org.xtext.example.entity.diagramx.openDiagramDiagram"
         name="Open Diagram diagram">
   </command>
</extension>

<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="popup:org.eclipse.ui.popup.any?before=additions">
      <command
            commandId="org.xtext.example.entity.diagramx.openDiagramDiagram"
            label="Open Diagram diagram"
            style="push">
         <visibleWhen
               checkEnabled="false">
            <iterate ifEmpty="false" operator="or">
               <or>
                   <instanceof
                         value="org.eclipse.core.resources.IProject">
                   </instanceof>
               </or>
            </iterate>
         </visibleWhen>
      </command>
   </menuContribution>
</extension>

</plugin>
